@section head
{
    <a class="btn btn-outline-primary" href="@Url.Action("index","home")">New Game</a>
}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    Server is not responding , Please try again
                </h2>
            </div>
        </div>
    </div>
</div>

