
@{
    ViewBag.Title = "About Me";
}
@section head
{
    <a class="btn btn-outline-primary" href="@Url.Action("index","home")">New Game</a>
}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Omid Rajabalian</h1>
    <p class="lead">Please after check my client , tell your opinion about my pony client . thank</p>
    <p>Rajabalian.omid@live.com</p>
</div>

